In [1]:
#Dependencies
import pandas as pd
import datetime
import time
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
csv_path_arrest = "police_pedestrian_stops_and_vehicle_stops.csv"

In [2]:
df_arrest = pd.read_csv(csv_path_arrest)
census_df = pd.read_csv("census_neighborhood_demographics_2010.csv")
census_df.head()

,NBHD_ID,NBRHD_NAME,POPULATION_2010,HISPANIC_2010,WHITE_2010,BLACK_2010,NATIVEAM_2010,ASIAN_2010,HAWPACIS_2010,OTHER_2010,...,RENTED_AGE_25_TO_34,RENTED_AGE_35_TO_44,RENTED_AGE_45_TO_54,RENTED_AGE_55_TO_59,RENTED_AGE_60_TO_64,RENTED_AGE_65_TO_74,RENTED_AGE_75_TO_84,RENTED_AGE_85_PLUS,SHAPE_Length,SHAPE_Area
0,32,Hampden,17547.0,2505.0,11750.0,1963.0,64.0,726.0,20.0,38.0,...,1363.0,791.0,700.0,304.0,253.0,285.0,200.0,229.0,0.200466,0.000768
1,3,Baker,4879.0,1664.0,2854.0,144.0,43.0,52.0,10.0,7.0,...,486.0,235.0,231.0,113.0,64.0,82.0,23.0,7.0,0.101767,0.000406
2,70,Washington Park,6905.0,295.0,6356.0,28.0,9.0,119.0,3.0,13.0,...,329.0,132.0,70.0,31.0,36.0,27.0,6.0,21.0,0.090445,0.000411
3,13,Cherry Creek,5589.0,332.0,4896.0,79.0,17.0,168.0,4.0,3.0,...,521.0,261.0,211.0,79.0,92.0,161.0,224.0,207.0,0.063923,0.000228
4,22,Country Club,3001.0,94.0,2740.0,20.0,8.0,77.0,1.0,5.0,...,90.0,55.0,34.0,14.0,17.0,9.0,4.0,2.0,0.052865,0.000177

In [3]:
neighborhood_df = pd.read_csv("neighborhood_regions.csv")
region_arrests = pd.merge(df_arrest, neighborhood_df, left_on="NEIGHBORHOOD_NAME", right_on="NEIGHBORHOOD")
region_arrests.head()

,MASTER_INCIDENT_NUMBER,PRIORITY_DESCRIPTION,PROBLEM,ADDRESS,CALL_CLASS,TIME_PHONEPICKUP,CALL_DISPOSITION,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_NAME,NEIGHBORHOOD,DENVER_REGION,Unnamed: 2,Unnamed: 3
0,DPD-12-0528225,P3 Public Need,Vehicle Stop,8500 W CRESTLINE AVE,2,2012-11-13 00:02:22,K - Street Check Completed,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,Marston,Southwest,NaN,NaN
1,DPD-12-0147770,P3 Public Need,Subject Stop,8500 W CRESTLINE AVE,2,2012-04-11 00:22:38,Arrest Made,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,Marston,Southwest,NaN,NaN
2,DPD-12-0306079,P3 Public Need,Subject Stop,8500 W CRESTLINE AVE,2,2012-07-10 00:29:19,Party Advised,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,Marston,Southwest,NaN,NaN
3,DPD-12-0331882,P3 Public Need,Subject Stop,8500 W CRESTLINE AVE,2,2012-07-24 04:40:57,Party Advised,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,Marston,Southwest,NaN,NaN
4,DPD-15-0647708,P3 Public Need,Subject Stop,8500 W Crestline Ave,2,2015-11-05 00:37:02,Party Advised,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,Marston,Southwest,NaN,NaN

In [4]:
df_arrest['TIME_PHONEPICKUP'] = pd.to_datetime(df_arrest['TIME_PHONEPICKUP'])
df_arrest['YEAR'], df_arrest['MONTH'], df_arrest['HOUR'] = df_arrest['TIME_PHONEPICKUP'].dt.year, df_arrest['TIME_PHONEPICKUP'].dt.month, df_arrest['TIME_PHONEPICKUP'].dt.hour 
df_arrest.head()

,MASTER_INCIDENT_NUMBER,PRIORITY_DESCRIPTION,PROBLEM,ADDRESS,CALL_CLASS,TIME_PHONEPICKUP,CALL_DISPOSITION,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_NAME,YEAR,MONTH,HOUR
0,DPD-12-0528225,P3 Public Need,Vehicle Stop,8500 W CRESTLINE AVE,2,2012-11-13 00:02:22,K - Street Check Completed,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,2012,11,0
1,DPD-12-0147770,P3 Public Need,Subject Stop,8500 W CRESTLINE AVE,2,2012-04-11 00:22:38,Arrest Made,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,2012,4,0
2,DPD-12-0306079,P3 Public Need,Subject Stop,8500 W CRESTLINE AVE,2,2012-07-10 00:29:19,Party Advised,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,2012,7,0
3,DPD-12-0331882,P3 Public Need,Subject Stop,8500 W CRESTLINE AVE,2,2012-07-24 04:40:57,Party Advised,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,2012,7,4
4,DPD-15-0647708,P3 Public Need,Subject Stop,8500 W Crestline Ave,2,2015-11-05 00:37:02,Party Advised,3114742.65,1650362.34,-105.092691,39.618329,4,423,Marston,2015,11,0

In [5]:
df_arrest.columns

Index(['MASTER_INCIDENT_NUMBER', 'PRIORITY_DESCRIPTION', 'PROBLEM', 'ADDRESS',
       'CALL_CLASS', 'TIME_PHONEPICKUP', 'CALL_DISPOSITION', 'GEO_X', 'GEO_Y',
       'GEO_LON', 'GEO_LAT', 'DISTRICT_ID', 'PRECINCT_ID', 'NEIGHBORHOOD_NAME',
       'YEAR', 'MONTH', 'HOUR'],
      dtype='object')

In [6]:
df_arrest_clean = df_arrest.loc[:, ["CALL_DISPOSITION", "CALL_CLASS", "NEIGHBORHOOD_NAME", "ADDRESS", "YEAR", "MONTH", "HOUR"]]
df_arrest_clean.head()

,CALL_DISPOSITION,CALL_CLASS,NEIGHBORHOOD_NAME,ADDRESS,YEAR,MONTH,HOUR
0,K - Street Check Completed,2,Marston,8500 W CRESTLINE AVE,2012,11,0
1,Arrest Made,2,Marston,8500 W CRESTLINE AVE,2012,4,0
2,Party Advised,2,Marston,8500 W CRESTLINE AVE,2012,7,0
3,Party Advised,2,Marston,8500 W CRESTLINE AVE,2012,7,4
4,Party Advised,2,Marston,8500 W Crestline Ave,2015,11,0

In [7]:
call_dispo = df_arrest_clean.groupby('CALL_DISPOSITION')
neighbor_disp = call_dispo['CALL_CLASS'].count()

neighbor_disp.head(65)

CALL_DISPOSITION
1 - Alarm RP On Scene               527
1 - Alarm RP On Scene,2 - Alar        1
1 - Alarm RP On Scene,3 - Alar        1
1 - Alarm RP On Scene,Arrest M        7
1 - Alarm RP On Scene,Back Up         3
1 - Alarm RP On Scene,Detox Va        1
1 - Alarm RP On Scene,File Onl       11
1 - Alarm RP On Scene,GOA             1
1 - Alarm RP On Scene,In Servi       36
1 - Alarm RP On Scene,K - Stre       19
1 - Alarm RP On Scene,L - Clea        1
1 - Alarm RP On Scene,No Polic        3
1 - Alarm RP On Scene,O - Veh         1
1 - Alarm RP On Scene,Party Ad      188
1 - Alarm RP On Scene,Quit           16
1 - Alarm RP On Scene,Report M        6
1 - Alarm RP On Scene,T - Cita       54
1 - Alarm RP On Scene,UTL / Un        5
1 - Alarm RP On Scene,Vehicle         2
1 - Alarm RP On Scene,Warning        18
2 - Alarm False                     213
2 - Alarm False,Detox Van             1
2 - Alarm False,Party Advised         1
2 - Alarm False,Quit                  1
3 - Alarm Good                       13
3 - Alarm Good,Arrest Made,Par        1
3 - Alarm Good,K - Street Chec        1
3 - Alarm Good,L - Clearance          1
3 - Alarm Good,Party Advised          3
3 - Alarm Good,Quit                   2
                                  ...
Arrest Made,Detox Van                30
Arrest Made,Detox Van,K - Stre        4
Arrest Made,Detox Van,Report M        2
Arrest Made,Detox Van,T - Cita        1
Arrest Made,Evidence / Propert        8
Arrest Made,File Only                 4
Arrest Made,In Service                7
Arrest Made,K - Street Check C      292
Arrest Made,L - Clearance             1
Arrest Made,O - Veh Released t        1
Arrest Made,Party Advised           112
Arrest Made,Party Advised,Vehi        1
Arrest Made,Quit                      2
Arrest Made,Report Made            2038
Arrest Made,Report Made,T - Ci       18
Arrest Made,Report Made,Vehicl       40
Arrest Made,Supervisor Cancell        1
Arrest Made,T - Citation Issue      202
Arrest Made,UTL / Unfounded /         1
Arrest Made,Vehicle Towed           187
Arrest Made,Warning Issued            1
Arrest Made,Y - Broadcast             1
Arrest Made,Z - Test                  1
Back Up / Cover Car               53016
Back Up / Cover Car,Detox Van         5
Back Up / Cover Car,Detox Van,        1
Back Up / Cover Car,File Only         1
Back Up / Cover Car,GOA               2
Back Up / Cover Car,In Service        3
Back Up / Cover Car,K - Street        6
Name: CALL_CLASS, Length: 65, dtype: int64

In [8]:
rdfa = df_arrest_clean.loc[df_arrest_clean["CALL_DISPOSITION"] == "Arrest Made"]
rdfa = rdfa.drop_duplicates()
rdfa

,CALL_DISPOSITION,CALL_CLASS,NEIGHBORHOOD_NAME,ADDRESS,YEAR,MONTH,HOUR
1,Arrest Made,2,Marston,8500 W CRESTLINE AVE,2012,4,0
36,Arrest Made,2,Marston,8500 W CRESTLINE AVE,2012,4,1
89,Arrest Made,2,Southmoor Park,6950 E Chenango Ave,2017,11,21
102,Arrest Made,2,Southmoor Park,4885 S Quebec St,2017,2,17
104,Arrest Made,2,Southmoor Park,4885 S Quebec St,2017,3,9
107,Arrest Made,2,Southmoor Park,4885 S Quebec St,2017,3,1
108,Arrest Made,2,Southmoor Park,4885 S Quebec St,2017,10,3
110,Arrest Made,2,None,5000-Blk S Federal Blvd,2012,1,13
111,Arrest Made,2,Marston,4900-BLK S GARLAND ST,2011,8,23
123,Arrest Made,2,Marston,W LAYTON AVE / S WADSWORTH BLVD,2011,12,23
149,Arrest Made,2,Marston,S WADSWORTH BLVD / W Layton Ave,2011,10,12
232,Arrest Made,2,None,4450 S Kipling St,2015,6,1
414,Arrest Made,2,Marston,4722 S DUDLEY ST,2013,3,14
531,Arrest Made,2,Marston,8500 W CRESTLINE AVE,2011,6,23
565,Arrest Made,2,Marston,S Wadsworth Blvd / W Crestline Ave,2015,4,0
596,Arrest Made,2,Marston,8481 W Union Ave,2015,6,12
599,Arrest Made,2,Marston,8400 W Union Ave,2015,2,17
610,Arrest Made,2,None,9700 W Chatfield Ave,2017,2,17
612,Arrest Made,2,None,9247 W Nichols Pl,2016,2,13
624,Arrest Made,2,None,7500 S University Blvd,2017,6,13
627,Arrest Made,2,None,S Utica Dr,2018,3,16
633,Arrest Made,2,None,7070 S Sheridan Blvd,2011,1,16
642,Arrest Made,2,None,3800-BLK E Arapahoe Rd,2014,3,19
651,Arrest Made,2,None,E Fair Dr / S Forest Ct,2016,10,18
658,Arrest Made,2,Marston,4701 S GARRISON ST,2012,8,23
659,Arrest Made,2,Marston,4701 S GARRISON ST,2012,7,0
662,Arrest Made,2,Marston,4700-BLK S GARRISON ST,2012,11,23
696,Arrest Made,2,Marston,W CRESTLINE AVE / S WADSWORTH BLVD,2011,11,23
738,Arrest Made,2,None,S Carr Ct / W Parkhill Ave,2012,8,23
745,Arrest Made,2,None,S Sheridan Way / W Lake Pl,2011,1,23
...,...,...,...,...,...,...,...
1471916,Arrest Made,2,Elyria Swansea,E Beekman Pl / N St Paul St,2018,6,15
1472001,Arrest Made,2,Montbello,N Worchester St / E Maxwell Pl,2018,6,14
1473451,Arrest Made,2,City Park West,1500-blk E Colfax Ave,2018,6,17
1474490,Arrest Made,2,City Park West,1800-blk E Colfax Ave,2018,6,16
1474799,Arrest Made,2,East Colfax,E Colfax Ave / N Wabash St,2018,6,12
1474863,Arrest Made,2,Westwood,600-blk S Raleigh St,2018,6,16
1475927,Arrest Made,2,Mar Lee,W Florida Ave / S King St,2018,6,1
1476343,Arrest Made,2,Montbello,E Gateway Ave / N Fraser Way,2018,6,12
1476861,Arrest Made,2,Virginia Village,5100 E Asbury Ave,2018,6,21
1477781,Arrest Made,2,Civic Center,1499 N Broadway St,2018,6,19
1479434,Arrest Made,2,Cole,3600 N Vine St,2018,6,19
1480026,Arrest Made,2,Gateway - Green Valley Ranch,18605 E Gvr Blvd,2018,6,18
1480402,Arrest Made,2,University Park,S Colorado Blvd / E Buchtel Blvd,2018,6,3
1481257,Arrest Made,2,Villa Park,W 8th Ave / N Winona Ct,2018,6,21
1481639,Arrest Made,2,Regis,5000-blk N Federal Blvd,2018,6,10
1481965,Arrest Made,2,Montbello,5300-blk N Eagle St,2018,6,19
1482113,Arrest Made,2,Overland,S Acoma St / W Mexico Ave,2018,6,1
1487209,Arrest Made,2,City Park,N Adams St / E Colfax Ave,2018,6,21
1487417,Arrest Made,2,Elyria Swansea,N Thompson Ct / E 46th Ave,2018,6,14
1487858,Arrest Made,2,Mar Lee,S Meade St / W Jewell Ave,2018,6,14
1488093,Arrest Made,2,Mar Lee,W Florida Ave / S Federal Blvd,2018,6,15
1489630,Arrest Made,2,None,18300 W Alameda Pkwy,2018,6,23
1490971,Arrest Made,2,Montbello,E 47th Ave / N Peoria St,2018,6,12
1493325,Arrest Made,2,Capitol Hill,1200-blk N Lincoln St,2018,6,8
1494847,Arrest Made,2,CBD,891 14th St,2018,6,22
1494971,Arrest Made,2,West Highland,W 29th Ave / N Federal Blvd,2018,6,13
1495729,Arrest Made,2,Mar Lee,W Florida Ave / S Lowell Blvd,2018,6,2
1495790,Arrest Made,2,Gateway - Green Valley Ranch,15555 E 53rd Ave,2018,6,20
1496370,Arrest Made,2,West Colfax,W Conejos Pl / N Lowell Blvd,2018,6,17
1496460,Arrest Made,2,North Capitol Hill,300-blk E Colfax Ave,2018,6,20

In [9]:
total_arrest = rdfa['CALL_CLASS'].count()
total_arrest

87207

In [10]:
arrests_year = rdfa.groupby('YEAR')['CALL_CLASS'].count().reset_index()
arrests_year = arrests_year.loc[:, ["YEAR", 'CALL_CLASS']]
arrests_year = arrests_year.rename(columns={'CALL_CLASS': 'TOTAL_ARRESTS'})
arrests_year

   YEAR  TOTAL_ARRESTS
0  2010             13
1  2011           9636
2  2012          12333
3  2013          11284
4  2014          11792
5  2015          11003
6  2016          11789
7  2017          12790
8  2018           6567

In [11]:
neigh_danger = rdfa.groupby(["NEIGHBORHOOD_NAME"])
neigh_danger = neigh_danger['CALL_CLASS'].count()
neigh_danger

NEIGHBORHOOD_NAME
Athmar Park                     1369
Auraria                          347
Baker                           2221
Barnum                          2516
Barnum West                      655
Bear Valley                      129
Belcaro                          154
Berkeley                         923
CBD                             2726
Capitol Hill                    1653
Chaffee Park                     420
Cheesman Park                    423
Cherry Creek                     356
City Park                        734
City Park West                  1320
Civic Center                    2053
Clayton                          748
Cole                            2006
College View - South Platte      908
Congress Park                    358
Cory - Merrill                   275
Country Club                     156
DIA                               77
East Colfax                     6912
Elyria Swansea                  1823
Five Points                     6174
Fort Logan                        81
Gateway - Green Valley Ranch     785
Globeville                      1746
Goldsmith                        263
                                ...
Northeast Park Hill             1876
Overland                         684
Platt Park                       372
Regis                            686
Rosedale                          93
Ruby Hill                        875
Skyland                          599
Sloan Lake                       627
South Park Hill                 1353
Southmoor Park                    27
Speer                            942
Stapleton                       2274
Sun Valley                       659
Sunnyside                       1911
Union Station                    998
University                       156
University Hills                 387
University Park                  230
Valverde                        1799
Villa Park                      2028
Virginia Village                 814
Washington Park                  258
Washington Park West             353
Washington Virginia Vale         533
Wellshire                         22
West Colfax                     2842
West Highland                    383
Westwood                        3547
Whittier                         741
Windsor                           88
Name: CALL_CLASS, Length: 79, dtype: int64

In [12]:
rdfc = df_arrest_clean.loc[df_arrest_clean["CALL_DISPOSITION"] == "T - Citation Issued"]
rdfc = rdfc.drop_duplicates()
total_citation = rdfc['CALL_CLASS'].count()
citations = rdfc.groupby(["NEIGHBORHOOD_NAME"])
neigh_citations = citations['CALL_CLASS'].count()
neigh_citations

NEIGHBORHOOD_NAME
Athmar Park                     2410
Auraria                          560
Baker                           4464
Barnum                          4301
Barnum West                     1211
Bear Valley                      560
Belcaro                          911
Berkeley                        1549
CBD                             1893
Capitol Hill                    1537
Chaffee Park                     516
Cheesman Park                    388
Cherry Creek                     825
City Park                        956
City Park West                  1134
Civic Center                    1331
Clayton                          692
Cole                             978
College View - South Platte     1282
Congress Park                   1111
Cory - Merrill                  1173
Country Club                     346
DIA                              409
East Colfax                     2390
Elyria Swansea                  2320
Five Points                     3781
Fort Logan                       324
Gateway - Green Valley Ranch    2621
Globeville                      3872
Goldsmith                        549
                                ...
Northeast Park Hill             2750
Overland                         936
Platt Park                       863
Regis                            535
Rosedale                         114
Ruby Hill                       1211
Skyland                         1025
Sloan Lake                       764
South Park Hill                 2267
Southmoor Park                   149
Speer                           1202
Stapleton                       4857
Sun Valley                      1117
Sunnyside                       2036
Union Station                    851
University                       482
University Hills                 573
University Park                  678
Valverde                        2496
Villa Park                      1357
Virginia Village                1443
Washington Park                 1017
Washington Park West            1423
Washington Virginia Vale         950
Wellshire                         72
West Colfax                     3189
West Highland                    604
Westwood                        4066
Whittier                         491
Windsor                          110
Name: CALL_CLASS, Length: 79, dtype: int64

In [13]:
citations_year = rdfc.groupby('YEAR')['CALL_CLASS'].count().reset_index()
citations_year = citations_year.loc[:, ["YEAR", 'CALL_CLASS']]
citations_year = citations_year.rename(columns={'CALL_CLASS': 'TOTAL_CITATIONS'})
citations_year

   YEAR  TOTAL_CITATIONS
0  2010               13
1  2011            11141
2  2012            13544
3  2013            11919
4  2014            14687
5  2015            13103
6  2016            19452
7  2017            22050
8  2018             9042

In [14]:
total_citations = rdfc['CALL_CLASS'].count()
total_citations

114951

In [15]:
arrests_by_neighborhood = rdfa.groupby(['NEIGHBORHOOD_NAME']).CALL_CLASS.count().reset_index()
arrests_by_neighborhood = arrests_by_neighborhood.rename(columns={'CALL_CLASS': 'TOTAL_ARRESTS'})
arrests_by_neighborhood = pd.merge(arrests_by_neighborhood, census_df[['NBRHD_NAME','POPULATION_2010']], left_on='NEIGHBORHOOD_NAME', right_on='NBRHD_NAME')
arrests_by_neighborhood = arrests_by_neighborhood.drop('NBRHD_NAME', axis=1)
arrests_by_neighborhood['ARRESTS_PER_PERSON'] = arrests_by_neighborhood['TOTAL_ARRESTS']/arrests_by_neighborhood['POPULATION_2010']
arrests_by_neighborhood.head()

  NEIGHBORHOOD_NAME  TOTAL_ARRESTS  POPULATION_2010  ARRESTS_PER_PERSON
0       Athmar Park           1369           8898.0            0.153855
1           Auraria            347            705.0            0.492199
2             Baker           2221           4879.0            0.455216
3            Barnum           2516           6111.0            0.411717
4       Barnum West            655           5376.0            0.121838

In [16]:
citations_by_neighborhood = rdfc.groupby(['NEIGHBORHOOD_NAME']).CALL_CLASS.count().reset_index()
citations_by_neighborhood = citations_by_neighborhood.rename(columns={'CALL_CLASS': 'TOTAL_CITATIONS'})
citations_by_neighborhood = pd.merge(citations_by_neighborhood, census_df[['NBRHD_NAME','POPULATION_2010']], left_on='NEIGHBORHOOD_NAME', right_on='NBRHD_NAME')
citations_by_neighborhood = citations_by_neighborhood.drop('NBRHD_NAME', axis=1)
citations_by_neighborhood['CITATIONS_PER_PERSON'] = citations_by_neighborhood['TOTAL_CITATIONS']/citations_by_neighborhood['POPULATION_2010']
citations_by_neighborhood.head()

  NEIGHBORHOOD_NAME  TOTAL_CITATIONS  POPULATION_2010  CITATIONS_PER_PERSON
0       Athmar Park             2410           8898.0              0.270847
1           Auraria              560            705.0              0.794326
2             Baker             4464           4879.0              0.914942
3            Barnum             4301           6111.0              0.703813
4       Barnum West             1211           5376.0              0.225260